.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    /* Adjusted gap */
    padding: 2rem;
    flex-wrap: wrap;
    /* Ensures responsiveness */
    max-width: 1200px;
    /* Set the maximum width for the container */
    margin: 0 auto;
    /* Centers the container horizontally */

    @media (max-width: 768px) {
        flex-direction: column;
        /* Stack content vertically on smaller screens */
        padding: 1rem;
        /* Adjust padding for smaller screens */
    }
}

.leftContent {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.video {
    width: auto;
    height: 100%;
    max-height: 550px;
    /* Limit maximum height for larger screens */
    aspect-ratio: 9 / 16;
    /* Vertical aspect ratio */
    border-radius: 10px;
    /* Optional: Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* Optional: Shadow for better visuals */
    object-fit: cover;
    /* Ensures video fits perfectly */
}

.rightContent {
    flex: 1;
    text-align: left;
    max-width: 600px;

    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: rgb(93, 5, 170);
    }

    p {
        font-size: 1.2rem;
        line-height: 1.5;
        color: #333333;
    }

    @media (max-width: 768px) {
        text-align: center;
        h1 {
                font-size: 2rem;
                font-weight: 600;
            }
    }
}