.faqWrapper {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.heading {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    color: purple;
}

.faqGroup {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.faqItem {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f9f9f9;

    &:hover .faqBody {
        max-height: 500px;
        padding: 10px 15px;
        transition: max-height 0.5s ease, padding 0.3s ease;
    }

    &:hover .faqIcon::before {
        content: '-';
    }

    &:hover .faqBody::before {
        opacity: 1;
        animation: drawLine 0.5s forwards;
    }
}

.faqTitle {
    padding: 15px;
    cursor: pointer;
    background-color: #e5e5e5bc;
    transition: background-color 0.3s;
}

.faqTitle:hover {
    background-color: pink;
}

.faqSubHeading {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 20px;
}

.faqSubHeading::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: purple;
}

.faqText {
    margin-right: 15px;
}

.faqIcon {
    font-size: 24px;
    display: inline-block;
    transition: content 0.3s ease;

    &::before {
        content: '+';
        /* Default symbol is plus */
    }
}

// Change the symbol to minus when hovering over the FAQ item
.faqItem:hover .faqIcon::before {
    content: '-';
    /* When hovered, show minus */
}

.faqBody {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    background-color: #fff;
    position: relative;
    transition: max-height 0.5s ease, padding 0.3s ease;
}

.faqBody::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: green;
    opacity: 0;
    transition: opacity 0.5s;
}

@keyframes drawLine {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font-size: 16px;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .heading {
        font-size: 20px;
    }

    .faqSubHeading {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .faqSubHeading {
        font-size: 14px;
    }

    .faqText {
        font-size: 14px;
    }

    .faqIcon::before {
        font-size: 20px;
    }
}